/* 全局 */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
a:any-link {
    text-decoration: none;
    color: black;
}

/* 新标签 */
layout {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

/* 字体 */
@font-face {
    font-family: chancery;
    src: url(font/apple-chancery-webfont.ttf)
}

/* 颜色 */
.粉色 {
    color: #ff6666;
}
.背景-白色 {
    background-color: #ffffff;
}
.背景-渐变-夕雨 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.背景-渐变-大雨 {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.背景-渐变-海洋 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.背景-渐变-水蜜桃 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.背景-渐变-余晖 {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

/* 布局 */
.整页 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.填充{
    flex: 1;
}
.布局-居中 {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.布局-左右 {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.布局-左右 layout{
    height: 100%;
}
.布局-上下 {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: column;
}
.布局-上下 layout{
    width: 100%;
}

/* 效果 */
.凹陷 {
    border: none;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.突出 {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.圆角 {
    border-radius: 8px;
}

.高斯模糊 {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}

.半透明 {
    opacity: 0.8;
}

.聚焦浮起 {
    transition: 0.3s; 
}
.聚焦浮起:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}
.卡片 {
    display: inline-block;
    margin: 1rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: 0.3s; 
}
.卡片:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}